# Swift / Xcode
.build/
.swiftpm/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.swp
*~

# Build artifacts
build/
